body 
	{ background-color: #D3AC5D; }

header 
	{ 
		height: 100vh; 
		display: grid;
		grid-template-columns: 50% 50%;

	}


a { 
	color: #25408f;
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif; 
	font-size: 20px;
	}


a:hover { color: white; }


.homepage nav { 
	justify-content: center;
	align-items: center;
	margin:  25vh auto;
	 }
.homepage nav ul
	{
		list-style-type: none; 
		min-height: 100px;

	}

.homepage nav li
	{ 
	margin-right: :  px;
	margin-top: 40px;
	text-transform: uppercase;
	text-align: left;
	padding: ;


}

header h1 img { 
	margin-left: 60px;
	display: inline-block;
	margin-top: 20vh;
}


header h1 {
	background-image: url(../images/Fortune_Teller2.jpg);
	background-size: fill;
	display: block;
	text-align: center;

}

